<div style="overflow-x:hidden;">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
          <a href="#">Trang chủ</a>
        </li>
        <li class="active">Quản lý đơn hàng nhập</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
          <form class="form-horizontal"  [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right">Tên nhân viên</label>
              <div class="col-sm-10">
                <input formControlName="tenNV"  type="text" placeholder="Tên nhân viên" />
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right"></label>
              <div class="col-sm-10">
                <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </form> 
        </p-panel>
        <p-table selectionMode="single" [value]="orders" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 70px; text-align: center;">STT</th>
              <th style="width: 15%; text-align: left;">Họ tên NV</th>
              <th style="width: 10%; text-align: left;">Địa chỉ</th>
              <th style="width: 10%; text-align: left;">Số điện thoại</th>
              <th style="width: 10%; text-align: left;">ngày nhập</th>
            
              
              <th style="width: 130px; text-align: left;">Tác vụ</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item  let-i="rowIndex">
            <tr>
              <td style="width: 100px; text-align: center;">{{ i + 1 }}</td>
              <td>{{ item.tenNV}}</td>
              <td>{{ item.dia_chi }}</td>
              <td>{{ item.sdt }}</td>
              <td>{{ item.ngaynhap }}</td>
              <td class="action-col" >
                <div class="btn-group">
                  <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                    <i class="ace-icon fa fa-edit"></i>
                  </button>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-xs btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Thao tác</button>
                            <div class="dropdown-menu">
                           <a  class="dropdown-item" (click)="deleteBill(item.id)">
                                <i class=" ace-icon fa fa-trash">
                                </i>
                                Xóa đơn hàng
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"  (click)="changeStatus( item.id,'process')">
                              <i class=" ace-icon fa fa-ban"></i>  Đã xác thực</a>
                            <a class="dropdown-item"(click)="changeStatus(item.id,'success')"><i class=" ace-icon fa fa-ban"> </i>  Đã chuyển giao</a>
                            <a class="dropdown-item"(click)="changeStatus(item.id,'danger')"> <i class=" ace-icon fa fa-ban"> </i>   Đã hủy</a>
                          </div>
                   </div>-->
                </div>  
                
              </td>
            </tr>
          </ng-template>
        </p-table>
        <!-- PAGE CONTENT ENDS -->
      </div>
      <div class="col-xs-12" style="text-align: right;">
        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <div *ngIf="showUpdateModal" id="createsanphamModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg full-height-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4  *ngIf="isCreate" class="modal-title">Thông tin đơn hàng</h4>
            <h4 *ngIf="!isCreate" class="modal-title">Thông tin đơn hàng</h4>
          </div>
          <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
            <div class="modal-body no-padding">
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Tên NV</label>
                <div class="col-sm-10">
                  <input disabled type="text" formControlName="tenNV" placeholder="Họ Tên Nhân Viên" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Địa Chỉ</label>
                <div class="col-sm-10">
                  <input disabled type="text" formControlName="dia_chi" placeholder="Địa Chỉ" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Số Điện Thoại</label>
                <div class="col-sm-10">
                  <input disabled type="text" formControlName="sdt" placeholder="Số Điện Thoại" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">ngaynhap</label>
                <div class="col-sm-10">
                  <input disabled type="text" formControlName="ngaynhap" placeholder="Ngày nhập hàng" />
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                  <th>Mã đơn hàng</th>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>số lượng</th>
                  <th>Giá nhập</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let its of order.listjson_chitiet">
                    <td>{{its.maHDN}}</td>
                    <td>{{its.masp}}</td>
                    <td>{{its.tensp}}</td>
                    <td>{{its.so_luong}}</td>
                    <td>{{its.dongia | number }}vnđ</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
              <i class="fa fa-bell"></i> Làm mới
            </button>
            <button type="submit" class="btn btn-success btn-sm btn-submit">
              <i class="fa fa-save"></i> Đồng ý
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
              <i class="fa fa-times"></i> Đóng lại
            </button>
          </div>
        </form>  
        </div>
      </div>  
    </div>
